{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "bracketSameLine": false,
  "printWidth": 70
}
