main {
  display: grid;
  grid-auto-flow: row;
}

.settings {
  position: absolute;
  cursor: pointer;
  padding: 5px;
  right: 0;
  z-index: 10;
}

.plus {
  color: green;
}

.plus::before {
  content: "+";
}

.minus {
  color: red;
}
