#roomlist tr {
  border: 1px solid black;
}
#roomlist td,
#roomlist th {
  padding: 4px;
}
#roomlist th {
  border: 1px solid black;
}
#roomlist table {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
#roomlist .refresh {
  cursor: pointer;
  color: blue;
  text-align: center;
}
#roomlist .roomjoin {
  text-align: center;
  color: blue;
  cursor: pointer;
}
#roomlist .roomid {
  text-align: center;
}

#roomlist .roomcapacity {
  text-align: center;
}

/* modal */
#roomlist .modal .modalcontent select#dic,
#roomlist .modal #nr_max,
#roomlist .modal #unless_pts {
  background-color: white;
  border: 1px solid darkgray;
  margin: 0 10px;
  width: 5em;
  border-radius: 5%;
}

#roomlist .modal #unless_pts {
  margin: 0;
}

#roomlist .modal #nr_score1_safe,
#roomlist .modal #unless_pts,
#roomlist .modal #nr_score1_safe + label {
  float: right;
}

#roomlist .modal .modalcontent .option {
  padding: 3px;
}

#roomlist .modal #gm1_length {
  width: 3em;
  margin-right: 25px;
  border: none;
  border-bottom: 1px dotted white;
  background-color: transparent;
  font-size: 0.9em;
  text-align: center;
}
