.gameroom {
  padding: 5px;
}

.gamehead {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 8fr;
}

.gamehead div {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 1.2em;
  color: red;
}

.gamehead div:first-child {
  border-right: 1px solid black;
}

.gamelist {
  max-height: 50vh;
  overflow: scroll;
}

.userInput {
  margin: 0 auto;
  display: flex;
  height: min-content;
  justify-content: center;
}

.userlist {
  border: 1px solid black;
  display: table;
}

.userlist div {
  padding: 2px 5px;
}

.userlist div:nth-child(2n){
  background-color: #eeea;
}

.userlist div:hover {
  background-color: #ccc5;
}

.wordlist {
  border: 1px solid black;
  margin: 0 auto;
}

.word {
  border-top: 1px solid black;
}

.bottomPane {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  margin: 5px 0px;
}

.pts {
  float: right;
}

.playerid {
  display: flex;
  align-items: center;
}

.bad > :last-child,
.badLetter {
  font-weight: bolder;
  font-size: 1.5em;
  color: red;
}
